ul.page-menu.clearfix
  li
    a(href="/") Home
  li
    a(href="/upload") Upload
  li
    a(href="") Social Stuff
#header-container
  #header.clearfix
    h1.logo
      a(href='/') IPEDS Project
    p Having fun?

